:root {
  --lavender: #fdf9ff;
  --purple-dark: #4c1d95;
  --purple-light: #e9d8fd;
  --purple-accent: #6b21a8;

  --text-main: #333;
  --text-muted: #666;
  --border-base: #ddd;
  --bg-light: #fafafa;
}
