node_modules/
dist/
build/
.vite/
.env
.env.*
.firebase/
functions/node_modules/
functions/.runtimeconfig.json
.vscode/
.DS_Store
Thumbs.db

firebase-debug.log
firestore-debug.log
functions/firebase-debug.log
